### T-Tests and ANOVA

* One Sample T-Test
* Independent Samples t-test
* paired samples t-test

In [300]:
import pandas as pd
import scipy.stats as stats
# Perform Independent-Samples T-Test 
from scipy.stats import ttest_ind
import numpy as np 


# For Post Hoc ANOVA Analysis
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison as multi

In [11]:
# one sample t-test example: The weights of 25 obese people were taken before enrolling them into the nutrition camp. 
#The population mean weight is found to be 45 kg before starting the camp. 
#After finishing the camp for the same 25 people the sample mean was found to be 75 with a standard deviation of 25. 
#Did the fitness camp work?

population_mean = 45

sample_mean = 75
sample_std = 25

sample_size = 25

#calculate the difference between the mans of the two groups
t_statistic = (sample_mean - population_mean) / (sample_std / np.sqrt(sample_size))

#degree of freedom
df = sample_size - 1 

#significant level 
alpha = 0.05

critical_t = stats.t.ppf(1 - alpha, df)

p_value = 1 - stats.t.cdf(t_statistic, df)



print('With T-value :')
if t_statistic > critical_t:
    print("""There is a significant difference in weight before and after the camp. 
    The fitness camp had an effect.""")
else:
    print("""There is no significant difference in weight before and after the camp. 
    The fitness camp did not have a significant effect.""")

print('With P-value :')
if p_value > alpha:
    print("""There is a significant difference in weight before and after the camp. 
    The fitness camp had an effect.""")
else:
    print("""There is no significant difference in weight before and after the camp. 
    The fitness camp did not have a significant effect.""")

T-Statistic: 6.0
Critical t-value: 1.7108820799094275
P-Value: 1.703654035845048e-06
0.05
With T-value :
There is a significant difference in weight before and after the camp.
    The fitness camp had an effect.
With P-value :
There is no significant difference in weight before and after the camp.
    The fitness camp did not have a significant effect.

In [17]:
#indepdenent t-test example

sample_A = np.array([78,84,92,88,75,80,85,90,87,7978,84,92,88,75,80,85,90,87,79])
sample_B = np.array([82,88,75,90,78,85,88,77,92,8082,88,75,90,78,85,88,77,92,80])

t_statistic, p_value = stats.ttest_ind(sample_A, sample_B)

alpha = 0.05
df = len(sample_A)+len(sample_B)-2

# Determine Equal Variance by testing if (the Larger Stand Deviation / the smaller Standard Deviation) > 2
# Assume equal variance unless (the Larger Stand Deviation / the smaller Standard Deviation) > 2

EqualVar = True
if sample_A.std() >sample_B.std():
    if (sample_A.std() / sample_B.std()) > 2:
        EqualVar = False
else:
    if (sample_B.std() / sample_A.std()) > 2:
        EqualVar = False

# Obtain T-Stat and Pvalue 

t_statistic, p_value = stats.ttest_ind(sample_A, sample_B,equal_var=EqualVar)

critical_t = stats.t.ppf(1 - alpha/2, df)

print("T-value:", t_statistic)
print("P-Value:", p_value)
print("Critical t-value:", critical_t)
print("Equal Variance", EqualVar)

print('With T-value')
if np.abs(t_statistic) >critical_t:
    print('There is significant difference between two groups')
else:
    print('No significant difference found between two groups')

print('With P-value')
if p_value >alpha:
    print('No evidence to reject the null hypothesis that a significant difference between the two groups')
else:
    print('Evidence found to reject the null hypothesis that a significant difference between the two groups')

T-value: -0.008275847896130646
P-Value: 0.9934425963209128
Critical t-value: 2.0280940009804502
Equal Variance True
With T-value
No significant difference found between two groups
With P-value
No evidence to reject the null hypothesis that a significant difference between the two groups

In [187]:
sample_A.shape

(19,)

In [19]:
#paired T test example

from scipy import stats
import numpy as np

math1 = np.array([4, 4, 7, 16, 20, 11, 13, 9, 11, 15])
math2 = np.array([15, 16, 14, 14, 22, 22, 23, 18, 18, 19])

t_statistic, p_value = stats.ttest_rel(math1, math2)

alpha = 0.05
df = len(math2)-1

critical_t = stats.t.ppf(1 - alpha/2, df)

print("T-value:", t_statistic)
print("P-Value:", p_value)
print("Critical t-value:", critical_t)

print('With T-value')
if np.abs(t_statistic) >critical_t:
    print('There is significant difference between math1 and math2')
else:
    print('No significant difference found between math1 and math2')

print('With P-value')
if p_value >alpha:
    print('No evidence to reject the null hypothesis that significant difference between math1 and math2')
else:
    print('Evidence found to reject the null hypothesis that significant difference between math1 and math2')

T-value: -4.953488372093023
P-Value: 0.0007875235561560145
Critical t-value: 2.2621571628540993
With T-value
There is significant difference between math1 and math2
With P-value
Evidence found to reject the null hypothesis that significant difference between math1 and math2

In [35]:
anxiety = pd.read_csv('enhanced_anxiety_dataset.csv')


anxiety.columns

Index(['Age', 'Gender', 'Occupation', 'Sleep Hours',
       'Physical Activity (hrs/week)', 'Caffeine Intake (mg/day)',
       'Alcohol Consumption (drinks/week)', 'Smoking',
       'Family History of Anxiety', 'Stress Level (1-10)', 'Heart Rate (bpm)',
       'Breathing Rate (breaths/min)', 'Sweating Level (1-5)', 'Dizziness',
       'Medication', 'Therapy Sessions (per month)', 'Recent Major Life Event',
       'Diet Quality (1-10)', 'Anxiety Level (1-10)'],
      dtype='object')

In [219]:
anxiety.head()

,Age,Gender,Occupation,Sleep Hours,Physical Activity (hrs/week),Caffeine Intake (mg/day),Alcohol Consumption (drinks/week),Smoking,Family History of Anxiety,Stress Level (1-10),Heart Rate (bpm),Breathing Rate (breaths/min),Sweating Level (1-5),Dizziness,Medication,Therapy Sessions (per month),Recent Major Life Event,Diet Quality (1-10),Anxiety Level
0,29,Female,Artist,6.0,2.7,181,10,Yes,No,10,114,14,4,No,Yes,3,Yes,7,5.0
1,46,Other,Nurse,6.2,5.7,200,8,Yes,Yes,1,62,23,2,Yes,No,2,No,8,3.0
2,64,Male,Other,5.0,3.7,117,4,No,Yes,1,91,28,3,No,No,1,Yes,1,1.0
3,20,Female,Scientist,5.8,2.8,360,6,Yes,No,4,86,17,3,No,No,0,No,1,2.0
4,49,Female,Other,8.2,2.3,247,4,Yes,No,1,98,19,4,Yes,Yes,1,No,3,1.0

In [37]:
anxiety.rename(columns = {'Anxiety Level (1-10)':'Anxiety Level'},inplace=True)

In [87]:
anxietygender = anxiety[['Gender','Anxiety Level']]
anxietygender = anxietygender.query('Gender == "Female" or Gender == "Male"')

In [89]:
anxietygender = anxietygender.sort_values("Gender")

anxietygender.reset_index(inplace=True)

In [95]:
anxietygender.query('Gender == "Female"')

      index  Gender  Anxiety Level
0         0  Female            5.0
1      8680  Female            4.0
2      4543  Female            6.0
3      8679  Female            6.0
4      4545  Female            1.0
...     ...     ...            ...
3725   2306  Female            2.0
3726   2164  Female            8.0
3727   2113  Female            3.0
3728   9920  Female            3.0
3729   2200  Female            9.0

[3730 rows x 3 columns]

In [147]:
anxietygender.iloc[3730:]['Gender']

3730    Male
3731    Male
3732    Male
3733    Male
3734    Male
        ...
7382    Male
7383    Male
7384    Male
7385    Male
7386    Male
Name: Gender, Length: 3657, dtype: object

In [93]:
anxietygender['Gender'].value_counts()

Gender
Female    3730
Male      3657
Name: count, dtype: int64

In [189]:
fanxietyarray = np.array(anxietygender.iloc[0:3657]['Anxiety Level'])
manxietyarray = np.array(anxietygender.iloc[3730:]['Anxiety Level'])

In [191]:
fanxietyarray.shape

(3657,)

In [193]:
#set alpha, calc degree of freedom, check that variances are equal
alpha = 0.05
degreef= len(fanxietyarray)+len(manxietyarray)-2

EqualVar = True

if fanxietyarray.std()/manxietyarray.std() > 2:
    EqualVar = False
else:
    if manxietyarray.std()/fanxietyarray.std() >2:
        EqualVar = False

In [203]:
#calculate t-statistic, critical t

sample_t,pval = ttest_ind(fanxietyarray,manxietyarray, equal_var = EqualVar)

critical_t = stats.t.ppf(1-alpha/2,degreef)

0.9301972031054336

In [205]:
print(f'T-Score: {sample_t}\n\
P-Value: {pval}\nCritical-T: {critical_t}')

T-Score: -0.08759974569220362
P-Value: 0.9301972031054336
Critical-T: 2.2621571628540993

In [217]:
print(f"With T-Value:")
if np.abs(sample_t) > critical_t:
    print(f'There is a significant difference in anxiety levels between men and women')
else:
    print(f'There is no a significant difference in anxiety levels between men and women')

print(f'With P-Value:')
if pval > alpha:
    print(f'No evidence to reject the null hypothesis. There was no statistically significant difference in anxiety levels between\
 men and women.')
else:
    print(f'There is evidence to reject the null hypothesis')

With T-Value:
There is no a significant difference in anxiety levels between men and women
With P-Value:
No evidence to reject the null hypothesis. There was no statistically significant difference in anxiety levels between men and women.

In [281]:
# Convert to left-tailed p-value
sample_t,pval_left_tailed = ttest_ind(fanxietyarray,manxietyarray, alternative = 'less' ,equal_var = EqualVar)

#convert to right-tailed pval
sample_t,pval_right_tailed = ttest_ind(fanxietyarray,manxietyarray, alternative = 'greater', equal_var = EqualVar)

print("T-Statistic:", sample_t)
print("Right-Tailed P-Value:", pval_right_tailed)
print("Left-Tailed P-Value:", pval_left_tailed)

T-Statistic: -0.08759974569220362
Right-Tailed P-Value: 0.5349013984472831
Left-Tailed P-Value: 0.4650986015527168

In [283]:
# Decision rule for right-tailed test
print("Right Tailed Results")
if pval_right_tailed < alpha:
    print("Significant difference: Group A has a higher mean than Group B.")
else:
    print("No significant difference: Group A is not significantly higher than Group B.")

print("Left Tailed Results")
if pval_left_tailed < alpha:
    print("Significant difference: Group A has a lower mean than Group B.")
else:
    print("No significant difference: Group A is not significantly lower than Group B.")

Right Tailed Results
No significant difference: Group A is not significantly higher than Group B.
Left Tailed Results
No significant difference: Group A is not significantly lower than Group B.

In [231]:
#practice paired sample t-test

heartrate = pd.read_csv("heart_rate_data.csv")

display(heartrate.head())

,Age,Sleep Hours,Exercise Frequency (Days/Week),Resting Heart Rate Before,Resting Heart Rate After,Max Heart Rate During Exercise
0,37,9.1,7,78,71,142
1,46,7.8,5,80,73,153
2,27,7.1,3,56,50,153
3,51,10.7,4,67,61,145
4,32,6.6,6,85,76,140

In [255]:
hrbefore=np.array(heartrate['Resting Heart Rate Before'])
hrafter = np.array(heartrate['Resting Heart Rate After'])
degfree = len(hrafter)-1

In [257]:
hrpairedt,hrpval = stats.ttest_rel(hrbefore,hrafter)
hrcritt= stats.t.ppf(1-alpha/2,degfree)

print(f'Heart Rate T-Score: {hrpairedt}\n Heart Rate P-Value: {hrpval}\n Heart Rate Critical T: {hrcritt}')

Heart Rate T-Score: 80.54043235396121
 Heart Rate P-Value: 4.106358433141536e-288
 Heart Rate Critical T: 1.9647293909876649

In [263]:

print('With T-value')
if np.abs(hrpairedt) >hrcritt:
    print('There is a significant difference before and after exercise')
else:
    print('No significant difference before and after exercise')

print('With P-value')
if hrpval > alpha:
    print('Reject the null hypothesis')
else:
    print('No evidence found to reject the null hypothesis')

With T-value
There is significant difference before and after exercise
With P-value
No evidence found to reject the null hypothesis

In [267]:
hrbefore=np.array(heartrate['Resting Heart Rate Before'])
hrduring = np.array(heartrate['Max Heart Rate During Exercise'])
hrdegreefree = len(hrduring)-1

In [269]:
hrmpairedt,hrmpval = stats.ttest_rel(hrbefore,hrduring)
hrmcrit = stats.t.ppf(1-alpha/2,hrdegreefree)

print(f'Heart Rate T-Score: {hrmpairedt}\n Heart Rate P-Value: {hrmpval}\n Heart Rate Critical T: {hrmcrit}')

Heart Rate T-Score: -145.54988069592008
 Heart Rate P-Value: 0.0
 Heart Rate Critical T: 1.9647293909876649

In [271]:
print('With T-value')
if np.abs(hrmpairedt) >hrmcrit:
    print('There is a significant difference before and during exercise')
else:
    print('No significant difference before and during exercise')

print('With P-value')
if hrmpval > alpha:
    print('Reject the null hypothesis')
else:
    print('No evidence found to reject the null hypothesis')

With T-value
There is a significant difference before and during exercise
With P-value
No evidence found to reject the null hypothesis

In [277]:
#left and a right tail analysis

#left sided Run left-tailed paired t-test
hrmt_statleft, hrmlp_value = stats.ttest_rel(hrbefore,hrduring, alternative="less")

#right sided Run left-tailed paired t-test
hrmt_statright, hrmrp_value = stats.ttest_rel(hrbefore,hrduring, alternative="greater")

print("Left T-Statistic:", hrmt_statleft.round(6))
print("Left-Tailed P-Value:", hrmlp_value)
print("Right T-Statistic:", hrmt_statright.round(6))
print("Right-Tailed P-Value:", hrmrp_value)

Left T-Statistic: -145.549881
Left-Tailed P-Value: 0.0
Right T-Statistic: -145.549881
Right-Tailed P-Value: 1.0

In [285]:
#Anova 

anxiety['Occupation'].unique()

array(['Artist', 'Nurse', 'Other', 'Scientist', 'Lawyer', 'Teacher',
       'Doctor', 'Musician', 'Student', 'Engineer', 'Freelancer', 'Chef',
       'Athlete'], dtype=object)

In [292]:
anxietygender = stats.f_oneway(anxiety["Anxiety Level"][anxiety["Gender"]=="Female"], 
                            anxiety["Anxiety Level"][anxiety["Gender"]=="Male"], 
                            anxiety["Anxiety Level"][anxiety["Gender"]=="Other"])

occupation = stats.f_oneway(anxiety["Anxiety Level"][anxiety["Occupation"]=="Artist"], 
                            anxiety["Anxiety Level"][anxiety["Occupation"]=="Nurse"], 
                            anxiety["Anxiety Level"][anxiety["Occupation"]=="Other"],
                            anxiety["Anxiety Level"][anxiety["Occupation"]=="Scientist"],
                            anxiety["Anxiety Level"][anxiety["Occupation"]=="Lawyer"],
                            anxiety["Anxiety Level"][anxiety["Occupation"]=="Teacher"],
                            anxiety["Anxiety Level"][anxiety["Occupation"]=="Doctor"], 
                            anxiety["Anxiety Level"][anxiety["Occupation"]=="Musician"],
                            anxiety["Anxiety Level"][anxiety["Occupation"]=="Student"],
                            anxiety["Anxiety Level"][anxiety["Occupation"]=="Engineer"],
                            anxiety["Anxiety Level"][anxiety["Occupation"]=="Freelancer"],
                            anxiety["Anxiety Level"][anxiety["Occupation"]=="Chef"],
                            anxiety["Anxiety Level"][anxiety["Occupation"]=="Athlete"],)

In [294]:
print(f'Gender One-Way Anova Results: {anxietygender}\n\
Occupation One-Way Anova  Results: {occupation}')

Gender One-Way Anova Results: F_onewayResult(statistic=0.024733372340097343, pvalue=0.97557004556717)
Occupation One-Way Anova  Results: F_onewayResult(statistic=5.0803735560859415, pvalue=1.596907698727565e-08)

In [296]:
if anxietygender.pvalue < alpha:
    print(f'Significant Difference Between the Groups. Reject the Null Hypothesis')
else:
    print(f'There is no evidence to reject the null hypothesis')

if occupation.pvalue < alpha:
    print(f'Significant Difference Between the Groups. Reject the Null Hypothesis')
else:
    print(f'There is no evidence to reject the null hypothesis')

There is no evidence to reject the null hypothesis
Significant Difference Between the Groups. Reject the Null Hypothesis

In [302]:
#post hoc analysis

multicomp = multi(anxiety["Anxiety Level"], anxiety["Occupation"])

In [308]:
PostHoc = multicomp.tukeyhsd()

print(PostHoc)

    Multiple Comparison of Means - Tukey HSD, FWER=0.05
============================================================
  group1     group2   meandiff p-adj   lower   upper  reject
------------------------------------------------------------
    Artist    Athlete   0.0749    1.0 -0.2648  0.4145  False
    Artist       Chef   0.0442    1.0 -0.2918  0.3801  False
    Artist     Doctor   0.4034 0.0051  0.0658  0.7409   True
    Artist   Engineer   0.3419  0.045  0.0034  0.6804   True
    Artist Freelancer   0.1561 0.9494 -0.1819  0.4941  False
    Artist     Lawyer   0.4103 0.0046  0.0692  0.7513   True
    Artist   Musician  -0.0069    1.0 -0.3396  0.3257  False
    Artist      Nurse   0.0586    1.0  -0.277  0.3943  False
    Artist      Other  -0.0319    1.0 -0.3696  0.3059  False
    Artist  Scientist   0.2663 0.3063 -0.0723  0.6049  False
    Artist    Student   0.0877 0.9997 -0.2463  0.4216  False
    Artist    Teacher  -0.0465    1.0 -0.3878  0.2948  False
   Athlete       Chef  -0.0307    1.0 -0.3732  0.3118  False
   Athlete     Doctor   0.3285 0.0785 -0.0156  0.6726  False
   Athlete   Engineer    0.267 0.3323  -0.078   0.612  False
   Athlete Freelancer   0.0812 0.9999 -0.2633  0.4257  False
   Athlete     Lawyer   0.3354  0.071 -0.0121  0.6829  False
   Athlete   Musician  -0.0818 0.9999 -0.4211  0.2575  False
   Athlete      Nurse  -0.0162    1.0 -0.3584   0.326  False
   Athlete      Other  -0.1068 0.9984  -0.451  0.2375  False
   Athlete  Scientist   0.1915 0.8304 -0.1536  0.5366  False
   Athlete    Student   0.0128    1.0 -0.3278  0.3534  False
   Athlete    Teacher  -0.1214 0.9951 -0.4691  0.2264  False
      Chef     Doctor   0.3592 0.0277  0.0188  0.6996   True
      Chef   Engineer   0.2977  0.163 -0.0436  0.6391  False
      Chef Freelancer   0.1119 0.9972 -0.2289  0.4528  False
      Chef     Lawyer   0.3661 0.0249  0.0222    0.71   True
      Chef   Musician  -0.0511    1.0 -0.3866  0.2845  False
      Chef      Nurse   0.0145    1.0  -0.324   0.353  False
      Chef      Other   -0.076 0.9999 -0.4167  0.2646  False
      Chef  Scientist   0.2222 0.6236 -0.1193  0.5636  False
      Chef    Student   0.0435    1.0 -0.2934  0.3804  False
      Chef    Teacher  -0.0906 0.9997 -0.4347  0.2535  False
    Doctor   Engineer  -0.0615    1.0 -0.4044  0.2815  False
    Doctor Freelancer  -0.2473 0.4491 -0.5897  0.0952  False
    Doctor     Lawyer   0.0069    1.0 -0.3386  0.3524  False
    Doctor   Musician  -0.4103 0.0038 -0.7475 -0.0731   True
    Doctor      Nurse  -0.3447 0.0434 -0.6848 -0.0046   True
    Doctor      Other  -0.4352 0.0018 -0.7774  -0.093   True
    Doctor  Scientist   -0.137 0.9839 -0.4801   0.206  False
    Doctor    Student  -0.3157 0.0964 -0.6542  0.0228  False
    Doctor    Teacher  -0.4498 0.0012 -0.7955 -0.1041   True
  Engineer Freelancer  -0.1858 0.8536 -0.5291  0.1575  False
  Engineer     Lawyer   0.0684    1.0  -0.278  0.4148  False
  Engineer   Musician  -0.3488 0.0358 -0.6869 -0.0107   True
  Engineer      Nurse  -0.2832 0.2254 -0.6243  0.0578  False
  Engineer      Other  -0.3738 0.0187 -0.7169 -0.0306   True
  Engineer  Scientist  -0.0756    1.0 -0.4195  0.2684  False
  Engineer    Student  -0.2542 0.3866 -0.5936  0.0852  False
  Engineer    Teacher  -0.3884 0.0129  -0.735 -0.0418   True
Freelancer     Lawyer   0.2542 0.4192 -0.0917     0.6  False
Freelancer   Musician   -0.163 0.9303 -0.5006  0.1746  False
Freelancer      Nurse  -0.0974 0.9993  -0.438  0.2431  False
Freelancer      Other   -0.188 0.8411 -0.5306  0.1546  False
Freelancer  Scientist   0.1102 0.9978 -0.2332  0.4537  False
Freelancer    Student  -0.0684    1.0 -0.4073  0.2705  False
Freelancer    Teacher  -0.2026  0.772 -0.5487  0.1435  False
    Lawyer   Musician  -0.4172 0.0034 -0.7579 -0.0765   True
    Lawyer      Nurse  -0.3516 0.0392 -0.6952  -0.008   True
    Lawyer      Other  -0.4421 0.0016 -0.7878 -0.0965   True
    Lawyer  Scientist  -0.1439 0.9778 -0.4904  0.2026  False
    Lawyer    Student  -0.3226 0.0874 -0.6646  0.0194  False
    Lawyer    Teacher  -0.4567 0.0011 -0.8059 -0.1076   True
  Musician      Nurse   0.0656    1.0 -0.2697  0.4008  False
  Musician      Other   -0.025    1.0 -0.3623  0.3124  False
  Musician  Scientist   0.2733 0.2651  -0.065  0.6115  False
  Musician    Student   0.0946 0.9993  -0.239  0.4282  False
  Musician    Teacher  -0.0395    1.0 -0.3805  0.3014  False
     Nurse      Other  -0.0905 0.9997 -0.4309  0.2498  False
     Nurse  Scientist   0.2077 0.7217 -0.1335  0.5488  False
     Nurse    Student    0.029    1.0 -0.3076  0.3656  False
     Nurse    Teacher  -0.1051 0.9986  -0.449  0.2387  False
     Other  Scientist   0.2982 0.1675  -0.045  0.6414  False
     Other    Student   0.1195 0.9946 -0.2191  0.4582  False
     Other    Teacher  -0.0146    1.0 -0.3605  0.3313  False
 Scientist    Student  -0.1787 0.8767 -0.5182  0.1608  False
 Scientist    Teacher  -0.3128 0.1266 -0.6595  0.0339  False
   Student    Teacher  -0.1341 0.9863 -0.4763  0.2081  False
------------------------------------------------------------